//
// named.conf
//
{{ ansible_managed | comment('c') }}
//
{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for match in acl.match_list %}
  {{ match }};
{% endfor %}
};

{% endfor %}
options {
{% for port in bind_listen_ipv4_port %}
  listen-on port {{ port }} { {{ bind_listen_ipv4|join('; ') }}; };
{% endfor %}
{% for port in bind_listen_ipv6_port %}
  listen-on-v6 port {{ port }} { {{ bind_listen_ipv6|join('; ') }}; };
{% endfor %}
  directory "{{ bind_dir }}";
  dump-file "{{ bind_dir }}/data/cache_dump.db";
  statistics-file "{{ bind_dir }}/data/named_stats.txt";
  memstatistics-file "{{ bind_dir }}/data/named_mem_stats.txt";
  allow-query { {{ bind_allow_query|join('; ') }}; };

{% if bind_acls|length != 0 %}
  allow-transfer { {% for acl in bind_acls %}"{{ acl.name }}"; {% endfor %} };
{% endif %}

{% if bind_check_names is defined %}
  check-names {{ bind_check_names }};
{% endif %}

  recursion {% if bind_recursion %}yes{% else %}no{% endif %};
{% if bind_recursion %}
  allow-recursion { {{ bind_allow_recursion|join('; ') }}; };
{% endif %}

{% if bind_forwarders|length > 0 %}
  forwarders { {{ bind_forwarders|join('; ') }}; };
{% endif %}
{% if bind_forward_only %}
  forward only;
{% endif %}

  rrset-order { order {{ bind_rrset_order }}; };

{% if bind_dnssec_enable %}
  dnssec-enable {{ bind_dnssec_enable }};
{% endif %}
  dnssec-validation {{ bind_dnssec_validation }};

  /* Path to ISC DLV key */
  bindkeys-file "{{ bind_bindkeys_file }}";

  managed-keys-directory "{{ bind_dir }}/dynamic";

  pid-file "{{ bind_pid_file }}";
  session-keyfile "{{ bind_session_keyfile }}";
{% if bind_query_log is defined %}

  querylog yes;
{% endif %}
{% if bind_dns64 %}
  dns64 64:ff9b::/96 {
    clients { {{ bind_dns64_clients|join('; ') }};  };
  };
{% endif %}
};

{% if bind_statistics_channels %}
statistics-channels {
  inet {{ bind_statistics_host }} port {{ bind_statistics_port }} allow { {{ bind_statistics_allow|join('; ') }}; };
};
{% endif %}

{# ================= LOGGING BLOCK ================= #}

{% if bind_logging is defined or bind_query_log is defined or bind_other_logs is defined %}
logging {

{% if bind_logging is defined and bind_logging.channels is defined %}
{% for channel in bind_logging.channels %}
  channel {{ channel.name }} {

{% if channel.syslog is defined %}
    syslog {{ channel.syslog }};
{% endif %}

{% if channel.file is defined %}
    file "{{ channel.file }}"
{% if channel.versions is defined %} versions {{ channel.versions }}{% endif %}
{% if channel.size is defined %} size {{ channel.size }}{% endif %};
{% endif %}

{% if channel.severity is defined %}
    severity {{ channel.severity }};
{% endif %}

{% if channel.print_time | default(false) %}
    print-time yes;
{% endif %}
{% if channel.print_severity | default(false) %}
    print-severity yes;
{% endif %}
{% if channel.print_category | default(false) %}
    print-category yes;
{% endif %}
  };
{% endfor %}
{% endif %}

{% if bind_logging is defined and bind_logging.categories is defined %}
{% for cat in bind_logging.categories %}
  category {{ cat.name }} { {{ cat.channel }}; };
{% endfor %}
{% endif %}

{% if bind_query_log is defined %}
  channel querylog {
{% if bind_query_log.file is defined %}
    file "{{ bind_query_log.file }}" versions {{ bind_query_log.versions | default(10) }} size {{ bind_query_log.size | default('20m') }};
{% else %}
    file "{{ bind_query_log }}" versions 10 size 20m;
{% endif %}
    severity dynamic;
    print-time yes;
  };
  category queries { querylog; };
{% endif %}

{% if bind_other_logs is defined %}
{% for log in bind_other_logs %}
  channel {{ log.name }} {
    file "{{ log.file }}" versions {{ log.versions | default(5) }} size {{ log.size | default('10m') }};
    severity {{ log.severity | default('dynamic') }};
    print-time yes;
  };
  category {{ log.category | default(log.name) }} { {{ log.name }}; };
{% endfor %}
{% endif %}

};
{% endif %}

{# ================= ZONES ================= #}

{% for file in bind_default_zone_files %}
include "{{ file }}";
{% endfor %}
{% for file in bind_extra_include_files %}
include "{{ file }}";
{% endfor %}
{% if bind_zones is defined %}
{% for bind_zone in bind_zones %}

{% set _all_addresses = ansible_all_ipv4_addresses | union(ansible_all_ipv6_addresses) %}
{% set zone_type = bind_zone.type | default('') %}

{% if zone_type == 'primary' %}
{% set _type = 'primary' %}
{% elif zone_type == 'secondary' %}
{% set _type = 'secondary' %}
{% elif zone_type == 'forward' %}
{% set _type = 'forward' %}
{% elif bind_zone.primaries is defined and (_all_addresses|intersect(bind_zone.primaries)|length > 0) %}
{% set _type = 'primary' %}
{% elif bind_zone.primaries is defined %}
{% set _type = 'secondary' %}
{% elif bind_zone.forwarders is defined %}
{% set _type = 'forward' %}
{% else %}
{% set _type = 'primary' %}
{% endif %}

{% elif bind_zone.primaries is defined and (_all_addresses|intersect(bind_zone.primaries)|length > 0) %}
{% set _type = 'primary' %}
{% elif bind_zone.primaries is defined %}
{% set _type = 'secondary' %}
{% elif bind_zone.forwarders is defined %}
{% set _type = 'forward' %}
{% endif %}

zone "{{ bind_zone.name }}" IN {
{% if _type == 'primary' %}
  type master;
  file "{{ bind_zone_dir }}/{{ bind_zone.name }}";
  notify yes;
  allow-update { none; };
{% elif _type == 'secondary' %}
  type slave;
  masters { {{ bind_zone.primaries|join('; ') }}; };
  file "{{ bind_secondary_dir }}/{{ bind_zone.name }}";
{% elif _type == 'forward' %}
  type forward;
  forward only;
  forwarders { {{ bind_zone.forwarders|join('; ') }}; };
{% endif %}
};

{% endfor %}
{% endif %}
